FARM_MYSQL_HOST=127.0.0.1
FARM_MYSQL_PORT=3306
FARM_MYSQL_DATABASE=farm_game
FARM_MYSQL_USERNAME=farm_game
FARM_MYSQL_PASSWORD=change_me

FARM_REDIS_HOST=127.0.0.1
FARM_REDIS_PORT=6379
FARM_REDIS_PASSWORD=change_me
FARM_REDIS_DATABASE=0
